In [4]:
import pandas as pd

raw_data = pd.read_csv(
    "/home/wangzitong/Trajlib/resource/data/traj_bj_11.csv",
    sep=';',
    nrows=10,
    #names=["driver_id", "order_id", "timestamp", "lon", "lat"],
)

raw_data

,id,path,tlist,length,speed,duration,hop,usr_id,traj_id,vflag,start_time
0,11467472,"[29265, 29262, 29266, 2549, 7498, 23938, 5377,...","[1446370548, 1446370578, 1446370590, 144637060...",4587.136,4.624129,992,28,b01a7fb12ae43ab178bd1247a6996380,26,1,2015-11-01
1,11467476,"[12944, 6642, 23872, 12768, 25595, 25598, 1030...","[1446376081, 1446376100, 1446376109, 144637612...",10245.399,7.418826,1381,55,b01a7fb12ae43ab178bd1247a6996380,30,1,2015-11-01
2,11467474,"[1871, 14340, 4923, 4917, 4915, 4914, 1879, 60...","[1446374562, 1446374577, 1446374607, 144637461...",5663.991,11.419337,496,18,b01a7fb12ae43ab178bd1247a6996380,28,1,2015-11-01
3,11467494,"[6757, 27085, 6749, 6742, 6756, 30150, 6771, 6...","[1446389759, 1446389761, 1446389774, 144638979...",3461.444,11.461735,302,34,b01a7fb12ae43ab178bd1247a6996380,48,1,2015-11-01
4,11467486,"[5134, 10162, 5132, 10257, 5128, 10223, 5173, ...","[1446384393, 1446384419, 1446384440, 144638446...",5109.453,7.536066,678,42,b01a7fb12ae43ab178bd1247a6996380,40,1,2015-11-01
5,11467488,"[30701, 30704, 3602, 16653, 3620, 17952, 14030...","[1446385718, 1446385727, 1446385732, 144638576...",2236.239,7.846453,285,16,b01a7fb12ae43ab178bd1247a6996380,42,1,2015-11-01
6,11467482,"[29941, 19125, 11610, 1101, 4675, 19105, 19106...","[1446381383, 1446381404, 1446381525, 144638155...",10787.245,7.522486,1434,62,b01a7fb12ae43ab178bd1247a6996380,36,1,2015-11-01
7,11467484,"[24281, 33327, 794, 1138, 23337, 14142, 20524,...","[1446383227, 1446383267, 1446383297, 144638332...",7061.229,7.257173,973,29,b01a7fb12ae43ab178bd1247a6996380,38,1,2015-11-01
8,11467492,"[688, 39073, 39071, 17923, 2064, 14056, 1151, ...","[1446386496, 1446386514, 1446386529, 144638654...",7399.674,13.988042,529,32,b01a7fb12ae43ab178bd1247a6996380,46,1,2015-11-01
9,11467464,"[4742, 1503, 878, 14244, 202, 14254, 14240, 14...","[1446359836, 1446359863, 1446359887, 144635989...",12669.773,6.487339,1953,48,b01a7fb12ae43ab178bd1247a6996380,18,1,2015-11-01

In [8]:
path_data = pd.read_csv(
    "/home/wangzitong/Trajlib/resource/data/bj_roadmap_edge.geo",
    nrows=10,
    #names=["driver_id", "order_id", "timestamp", "lon", "lat"],
)

with pd.option_context('display.max_colwidth', None):
    print(path_data["coordinates"])
# print(path_data)

0                                                                                                                                                                                                                            [[116.3898158, 39.8987502], [116.3898178, 39.8986298]]
1                                                                                                                                                                                                                            [[116.3898158, 39.8987502], [116.3888956, 39.8988353]]
2                                                                                                                                                                                                 [[116.3898158, 39.8987502], [116.3895438, 39.8988863], [116.3887486, 39.8989659]]
3                                                                                                                                                                                                                            [[116.3934609, 39.8988716], [116.3898158, 39.8987502]]
4                                                                                                                                                                                                                            [[116.3934609, 39.8988716], [116.3934817, 39.8987479]]
5                                                                                                                                              [[116.3934609, 39.8988716], [116.3933824, 39.9002251], [116.39337, 39.9003531], [116.393354, 39.9005829], [116.3933161, 39.9015519]]
6    [[116.3855782, 39.9019869], [116.3857511, 39.9019465], [116.3858902, 39.9018892], [116.3862835, 39.9016947], [116.3865423, 39.9015576], [116.3867186, 39.9014882], [116.3868883, 39.9014526], [116.3871101, 39.9014347], [116.3877869, 39.9014476], [116.3879786, 39.9014518]]
7                                  [[116.3855782, 39.9019869], [116.3855838, 39.9021648], [116.3855688, 39.9024817], [116.385483, 39.9042994], [116.3854401, 39.9052077], [116.3854221, 39.9055741], [116.385426, 39.9056355], [116.3854296, 39.9056929], [116.3855774, 39.905896]]
8                                                                                                                                            [[116.3855782, 39.9019869], [116.3854802, 39.9018827], [116.3854246, 39.901774], [116.3854246, 39.9017386], [116.3854253, 39.9014284]]
9                                                                                                                                                                                                                            [[116.3855622, 39.8989751], [116.3855748, 39.8988612]]
Name: coordinates, dtype: object

In [3]:
import pandas as pd

raw_data = pd.read_csv(
    "/home/wangzitong/Trajlib/resource/data/Geolife_with_mode.csv",
    #names=["driver_id", "order_id", "timestamp", "lon", "lat"],
)

raw_data.shape[0]

5440615